
<div class="shell">
  <div class="mx-0 p-0">
    <h1 class="navbar-brand text-center" role="banner"><a href="" class="text-decoration-none" routerLink="/home">The African Ebook Library</a></h1>
  </div>
  <div class="container mx-auto">
    <app-alert></app-alert>
  </div>
  <section class="container mt-5">
  <form [formGroup]="pwdForm" class="col-md-4 col-auto mx-auto" (ngSubmit)="resetPwd(pwdForm)">
    <div class="mb-2">
      <label class="form-label">New Password</label>
      <input class="form-control" type="password" formControlName="password">
      <h6 class="text-warning" *ngIf=" pwdForm.controls['cpassword'].dirty && pwdForm.controls['password'].hasError('pattern')">Password must have upto six characters and must include an uppercase letter or number</h6>
    </div>
    <div class="mb-2">
      <label class="form-label">Confirm Password</label>
      <input class="form-control" type="password" formControlName="cpassword">
      <h6 class="text-warning " *ngIf="pwdForm.controls['cpassword'].dirty && pwdForm.errors?.noMatch">Passwords Must Match</h6>
    </div>
    <button class="btn d-block ms-auto" type="submit">Submit</button>
  </form>
</section>
</div>

<footer class="nb-footer footer-1 mt-0 p-0 copyright">
  <div class="col-12 mx-0 copyright mt-0 p-0">
  <p class="text-center copyright">Copyright © 2019. The African Ebook Library.</p>
  </div>
</footer>
