

<hr class="hr-or">
<hr class="hr-or">

<footer class="nb-footer">
<div class="container">
<div class="row">
<div class="col-sm-12">
<div class="about">
  <div class="social-media">
    <ul class="d-flex justify-content-center">
      <li class="mx-1"><a href="http://www.facebook.com/" title=""><fa-icon [icon]="facebook"></fa-icon></a></li>
      <li class="mx-1"><a href="http://www.twitter.com/" title=""><fa-icon [icon]="twitter"></fa-icon></a></li>
      <li class="mx-1"><a href="http://www.instagram.com/" title=""><fa-icon [icon]="instagram"></fa-icon></a></li>
    </ul>
  </div>
</div>
</div>

<div class="col-md-3 col-sm-6 offset-md-3 offset-sm-6">
<div class="footer-info-single">
  <h2 class="title">Help Center</h2>
  <ul class="list-unstyled">
    <li><a href="" title=""><fa-icon [icon]="angleDoubleRight"></fa-icon>Contribute</a></li>
    <li><a href="" title=""><fa-icon [icon]="angleDoubleRight"></fa-icon> Sponsors</a></li>
    <li><a href="" title=""><fa-icon [icon]="angleDoubleRight"></fa-icon> Sitemap</a></li>
    <li><a href="" title=""><fa-icon [icon]="angleDoubleRight"></fa-icon> FAQ's</a></li>
  </ul>
</div>
</div>

<div class="col-md-3 col-sm-6 offset-md-3 offset-sm-6">
<div class="footer-info-single">
  <h2 class="title">Customer information</h2>
  <ul class="list-unstyled">
    <li><a href="" title=""><fa-icon [icon]="angleDoubleRight"></fa-icon> About Us</a></li>
    <li><a href="" title=""><fa-icon [icon]="angleDoubleRight"></fa-icon> Publish Your Ebook</a></li>
    <li><a href="" title=""><fa-icon [icon]="angleDoubleRight"></fa-icon> Contact Us</a></li>
    <li><a href="" title=""><fa-icon [icon]="angleDoubleRight"></fa-icon> FAQ's</a></li>
  </ul>
</div>
</div>
</div>
</div>

<div class="col-12 mx-0 copyright">
<p class="text-center">Copyright © 2019. The African Ebook Library.</p>
</div>
</footer>



