<section class="container-fluid">
  <section class="container-fluid">
    <section class="container mx-auto p-4 ">
        <h4 class="">The African Ebook Library</h4>
        <h6 class="h6 fst-italic">Bringing African Stories to the World</h6>
        <div class="text-break fs-3 mt-3" style="font-family: Candara">
        <p class="">Give your cultural heritage a digital backup. Share your Story with the world</p>
        <p class="">Do you have folktales, legends, myths, songs, poem and stories about your people, tribe, ethnic group, country etc that you would want to share with the world</p>
        <p class="">Join Us Today and Tell Your stories</p>
      </div>
      <button class="d-inline-block btn me-2" routerLink="/signup">Join Us</button>
      <button class="d-inline-block btn" routerLink="/write">Start Writing</button>
  </section>
    </section>
  <section class="container-fluid m-3">
    <app-blog-list [blogs]="blog" [caption]="caption" *ngIf="blog.length"></app-blog-list>
  </section>
</section>
