
<header class="bg-dark mb-0">
  <nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <a href="" routerLink="/home" class="navbar-brand"><img src="./assets/images/android-chrome-512x512.png" alt="" class="img-fluid" style="max-height:30px; max-width: 30px"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nsc">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="nsc">
      <div class="navbar-nav me-auto">
        <div class="nav-item"><a href="" class="nav-link" routerLink="/authors">Authors</a></div>
        <div class="nav-item"><a href="" class="nav-link" routerLink="/novels">Novels</a></div>
        <div class="nav-item"><a href="" class="nav-link" routerLink="/textbooks">Textbooks</a></div>
<!--        <div class="nav-item"><a href="" class="nav-link" routerLink="/shortstories">Short Stories</a></div>-->
      </div>
      <div class="navbar-nav">
        <div class="nav-item me-1"><a href=""  role="button" class="nav-link" *ngIf="!loggedin" routerLink="/login">Login</a></div>
        <div class="nav-item me-1 dropdown my-auto" *ngIf="loggedin"><a  class="nav-link dropdown-toggle text-decoration-none"  role="button" data-bs-toggle="dropdown">{{user}}</a>
          <ul class="dropdown-menu dropdown-menu-dark">
            <li class="dropdown-item"><a href="" class="" routerLink="/profile" >{{user}}</a></li>
            <li class="dropdown-item"><a role="button" class="" (click)="logout()" >Logout</a></li>
          </ul>
        </div>
          <ul class="dropdown-menu col-auto m-0">
            <li class="dropdown-item">{{user}}</li>
            <li class="dropdown-item"><a href="" class="">Logout</a></li>
          </ul>
        <div class="nav-item me-1"><app-site-search (results)="results=$event" (loading)="loading=$event" (check)="checked=$event"></app-site-search></div>
      </div>
    </div>
  </div>
</nav>
</header>
<div class="container-fluid bg-dark text-light m-0 p-0" *ngIf="checked"  #res>
  <div class="col-1 offset-11"><button class="btn-close  bg-white" (click)="checker()"#chk></button></div>
  <h5 class="fst-italic text-light" *ngIf="loading">Searching...</h5>
  <div class="d-flex justify-content-around">
    <div class=""  *ngIf="results.books && results.books.length">
    <h5 class="text-decoration-underline">Books</h5>
    <ul class="" >
    <li *ngFor="let book of results.books"><a href="" class="" (click)="checker()" routerLink="/book/{{book.id}}">{{book.title}}</a></li>
  </ul>
  </div>
    <div class="" *ngIf="results.authors && results.authors.length">
    <h5 class="text-decoration-underline m-0 p-0"><a href="" (click)="checker()" class="" routerLink="/authors">Authors</a></h5>
    <ul class="" >
    <li *ngFor="let author of results.authors"><a href="" class="" (click)="checker()" routerLink="/authors/{{author.id}}">{{author.name}}</a></li>
  </ul>
  </div>
  </div>
</div>

