
<header class="bg-dark mb-3">
  <nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <a href="" routerLink="/home" class="navbar-brand">TAEL</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nsc">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="nsc">
      <ul class="navbar-nav me-auto">
        <li class="nav-item"><a href="" class="nav-link" [routerLink]="['/authors']">Authors</a></li>
        <li class="nav-item"><a href="" class="nav-link" routerLink="/test">Novels</a></li>
        <li class="nav-item"><a href="" class="nav-link" routerLink="/textbooks">Textbooks</a></li>
        <li class="nav-item"><a href="" class="nav-link" routerLink="/shortstories">Short Stories</a></li>
      </ul>
      <div class="d-flex">
        <a href="" class="nav-link" *ngIf="!loggedin" routerLink="/login">Login</a>
        <p class="nav-link text-light" *ngIf="loggedin">Welcome {{user}}</p>
        <app-site-search></app-site-search>
      </div>
    </div>
  </div>
</nav>
</header>

