
<div class="shell">
  <nav class="px-5 py-2 navbar">
    <h1 class="navbar-brand text-center mx-auto" role="banner"><a href="" class="text-decoration-none" routerLink="/home">The African Ebook Library</a></h1>
  </nav>
  <div class="container mx-auto">
    <app-alert></app-alert>
  </div>
  <div class="container-fluid row p-0 mx-0 mb-0">
  <div class="col-md-6 d-none d-md-block">
    <img src="./assets/images/bg-image.jpg.png" class="img-fluid" alt="">
  </div>
    <form action="" [formGroup]="loginForm" (ngSubmit)="login(loginForm)" class="col-md-4 col-auto mx-auto" ngNativeValidate>
      <div class="mt-2">
        <label for="lem" class="form-label">Email</label>
        <input type="email" class="form-control" formControlName="email" id="lem" required>
      </div>
      <div class="mt-2">
        <label for="lpw" class="form-label">Password</label>
        <input type="password" class="form-control" formControlName="password" id="lpw" required>
      </div>
       <button class="btn d-block mt-2 ms-auto" type="submit">Login</button>
      <div class="mt-2 d-flex flex-wrap justify-content-start">
        <div class="col-auto me-2 fs-6">Not Registered? click <a href="" class="link-info" routerLink="/signup">here</a> to sign up</div>
        <div class="col-auto fs-6">Forgot your password? click <a href="" data-bs-target="#em" data-bs-toggle="modal">here</a> for a password reset</div>
      </div>
  </form>
    <div class="modal fade" id="em" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content sec">
          <div class="modal-header">
            <h5 class="modal-title">Password Reset</h5>
          </div>
          <div class="modal-body">
            <form class="col-auto">
              <div class="mb-2">
                <label class="form-label">Email</label>
                <input type="email" class="form-control" [formControl]="emailR" placeholder="Enter your email address">
              </div>
              <button class="btn d-block ms-auto" data-bs-dismiss="modal" (click)="reset()">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="nb-footer footer-1 mt-0 p-0 copyright">
  <div class="col-12 mx-0 copyright mt-0 p-0">
  <p class="text-center copyright">Copyright © 2019. The African Ebook Library.</p>
  </div>
</footer>



