
.hr-or {
    background-color: #F80;
    height: 4px;
    margin: 0px !important;
  }

/*button{*/
/*  background-color: #F80;*/
/*}*/


.fav{
  color: #F80;
}

span fa-icon.rate:hover{
  background-color: #F80;
}

span fa-icon.rate{
  color: white;
}

button fa-icon{
  color: green;
}
