

<div class="container-fluid my-3 mx-sm-auto mx-md-5 px-md-2">
  <div class="col-6 mx-auto" *ngIf="!book">Unable to load book from database</div>
  <div class="row g-0" *ngIf="book as doc" >
  <div class="col-md-4">
    <div class="card p-0" *ngFor="let author of doc.authors" style="max-width: 300px;">
      <img src="{{author.imageUrl}}" alt="{{author.name}} image" class="img-fluid card-img-top" style="max-width: 300px; max-height: 400px">
        <p class="h5 card-title mx-auto text-center "><a href="" class="link-primary text-decoration-none" routerLink="/authors/{{author.id}}">{{author.name}}</a></p>
    </div>
  </div>
  <div class="col-md-8 order-lg-last order-sm-first">
    <div class="card bg-dark" style="max-width: 600px;">
    <img src="{{doc.imageUrl}}" alt="{{doc.title}} cover image" class="card-img-top img-fluid" style="max-height:400px">
    <div class="card-body p-0 m-0">
      <p class="card-title h4 mx-auto p-2">{{doc.title}}</p>
      <hr class="hr-or">
      <div class="d-flex justify-content-between p-2 my-2">
        <p class="card-text">Pages: {{doc.pages}}</p>
        <p class="card-text">Language: {{doc.language}}</p>
        <p class="card-text">Branch: {{doc.branch}}</p>
        <p class="card-text">First Publication: {{doc.year}}</p>
      </div>
      <hr class="hr-or">
      <div class="mb-2 p-2">
        <button class="btn btn-primary mx-2" type="button" data-bs-target="#summary" data-bs-toggle="collapse">Read Summary</button>
        <button class="btn btn-primary mx-2" type="button" data-bs-target="#review" data-bs-toggle="collapse">Reviews</button>
      </div>
      <div class="p-2 m-2 card-text collapse" id="summary">{{doc.summary}}</div>
      <div class="collapse mt-2" id="review">
        <app-review [id]="doc.id" [book]="doc.title" [reviews]="doc.reviews"></app-review>
      </div>
      <div class="my-2">
        <p class="card-title px-2 mx-2">Categories</p>
        <div class="d-flex flex-wrap justify-content-start px-2 mx-auto">
          <span class="rounded-2 bg-info m-2 p-2 btn" *ngFor="let genre of doc.genres">{{genre}}</span>
        </div>
      </div>
      <div class="p-2">
        <button class="btn-primary p-0 mx-2" (click)="down()"><a href="{{doc.fileUrl}}" class="btn btn-primary m-0 p-0 text-light" >Download</a></button>
      </div>
    </div>
    <div class="card-footer bg-dark">
      <div class="d-flex flex-wrap justify-content-around text-light">
        <span class="card-text">File Type: {{doc.fileType}}</span> <span class="card-text">Size: {{doc.fileSize | size}}</span> <span class="">Downloads: {{doc.downloads}}</span>
      </div>
  </div>
  </div>
  </div>
</div>
  <div class="mb-3">
    <app-book-list [books]="similar" [caption]="caption" *ngIf="similar.length">

</app-book-list>
  </div>
</div>
