
.hr-or {
    background-color: #F80;
    height: 4px;
    margin: 0px !important;
  }

/*button{*/
/*  background-color: #F80;*/
/*}*/

/*a{*/
/*  color: #F80*/
/*}*/
.fav{
  background-color: #F80;
  color: red;
}
