
<div class="shell">
  <nav class="px-5 py-2 navbar">
    <h1 class="navbar-brand text-center mx-auto" role="banner"><a href="" class="text-decoration-none" routerLink="/">The African Ebook Library</a></h1>
  </nav>
  <div class="container mx-auto">
    <app-alert></app-alert>
  </div>
  <div class="row container-fluid">
  <div class="col-md-6 d-md-block d-none">
    <img src="./assets/images/bg-image.jpg.png" alt="" class="img-fluid">
  </div>
  <form class="col-md-6 col-auto" [formGroup]="userReg" (ngSubmit)="register(userReg)" ngNativeValidate>
    <div class="row">
      <div class="col-md-6 mt-2">
        <label for="nm" class="form-label">Full Name</label>
        <input type="text" class="form-control" formControlName="name" id="nm" required>
        <p class="form-text text-warning" *ngIf="userReg.controls['name'].touched && userReg.controls['name'].hasError('required')">Name is Required</p>
      </div>
      <div class="col-md-6 mt-2">
        <label for="em" class="form-label">Email</label>
        <input type="form-text text-warning" class="form-control" formControlName="email" id="em" required>
        <p class="form-text text-warning" *ngIf="userReg.controls['email'].touched && userReg.controls['email'].hasError('required')">Email is required</p>
        <p class="form-text text-warning" *ngIf="userReg.controls['email'].touched && userReg.controls['email'].hasError('email')">Enter a valid email address</p>
        <p class="form-text text-warning" *ngIf="userReg.controls['email'].touched && userReg.controls['email'].hasError('emailAvailable')">Email Already Taken</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mt-2">
        <label for="pw" class="form-label">Password</label>
        <input type="password" class="form-control" formControlName="password" id="pw" required>
        <ng-container class=""   *ngIf="userReg.controls['password'].dirty">
          <p class="form-text text-warning" *ngIf="userReg.controls['password'].hasError('required')">Password is required</p>
          <p class="form-text text-warning" *ngIf="userReg.controls['password'].hasError('pattern')">Password must have upto six characters and must include an uppercase letter or number </p>
        </ng-container>
      </div>
      <div class="col-md-6 mt-2">
        <label for="cpw" class="form-label">Confirm Password</label>
        <input type="password" class="form-control" formControlName="cpassword" id="cpw" required>
        <p class="form-text text-warning" *ngIf="userReg.errors?.noMatch && userReg.controls['cpassword'].dirty">Password must match</p>
      </div>
    </div>
    <button type="submit" class="btn d-block ms-auto mt-2">Submit</button>
    <p class="text-center">Already have an account ?<a href="" class="link-info" routerLink="/login">login</a></p>
  </form>
</div>
</div>


<footer class="nb-footer footer-1 mt-0 p-0 copyright">
  <div class="col-12 mx-0 copyright mt-0 p-0">
  <p class="text-center copyright">Copyright © 2019. The African Ebook Library.</p>
  </div>
</footer>
