
<div class="" *ngIf="created">
  Account Created Successfully
</div>
<div class="container g-3 mt-5 col-5">
  <form class="row row-cols-2 col-lg-5 col-auto mx-auto" [formGroup]="userReg" (ngSubmit)="register(userReg)" ngNativeValidate>
  <div class="col-lg-6 col-auto mt-2">
    <label for="nm" class="form-label">Full Name</label>
    <input type="text" class="form-control" formControlName="name" id="nm" required>
    <div class="" *ngIf="userReg.controls['name'].touched && userReg.controls['name'].hasError('required')">
      Name is Required
    </div>
  </div>
  <div class="col-lg-6 col-auto mt-2">
    <label for="em" class="form-label">Email</label>
    <input type="text" class="form-control" formControlName="email" id="em" required>
    <div class="" *ngIf="userReg.controls['email'].touched ||userReg.controls['email'].dirty">
      <div class="" *ngIf="userReg.controls['email'].hasError('required')">Email is required</div>
      <div class="" *ngIf="userReg.controls['email'].hasError('email')">Enter a valid email address</div>
    </div>
  </div>
  <div class="col-lg-6 col-auto mt-2">
    <label for="pw" class="form-label">Password</label>
    <input type="text" class="form-control" formControlName="password" id="pw" required>
    <div class=""   *ngIf="userReg.controls['password'].dirty">
      <div class="" *ngIf="userReg.controls['password'].hasError('required')">Password is required</div>
      <div class="" *ngIf="userReg.controls['password'].hasError('pattern')">Password must have upto six characters and must include an uppercase letter or number </div>
    </div>
  </div>
  <div class="col-lg-6 col-auto mt-2">
    <label for="cpw" class="form-label">Confirm Password</label>
    <input type="text" class="form-control" formControlName="cpassword" id="cpw" required>
    <div class="" *ngIf="userReg.errors?.noMatch && userReg.controls['cpassword'].dirty">
      Password must match
    </div>
  </div>
  <div class="col-6 mx-auto text-center mt-2">
    <button type="submit" class="btn-primary p-2 rounded-pill">Submit</button>
  </div>
</form>
</div>

