
<div class="container">
  <h2 class="mx-auto"></h2>Authors in Our Database
  <div class="row row-cols-auto">
  <div class="card col mx-2" *ngFor="let author of authors" style="max-width: 300px; max-height: 400px;">
    <img src="{{author.imageUrl}}" alt="{{author.name}} image" class="card-img-top img-fluid" style="height: 200px;">
    <div class="card-body">
      <a class="card-title h3 link-primary" routerLink="/authors/{{author.id}}">{{author.name}}</a>
      <hr class="">
      <div class=""><span class="card-text">Nationality: {{author.country}}</span></div>
      <div class=""><span class="card-text">Birth Date: {{author.birthdate | date }}</span></div>
      <hr class="">
      <p class="card-text">{{author.bio |slice:0:50}}...</p>
    </div>
</div>
</div>
</div>

