@import '~bootstrap/dist/css/bootstrap.min.css';

/* You can add global styles to this file, and also import other style files */

html, body, app-root, app-shell, app-user{
	height: 100%;
}

app-root, app-shell, app-user{
	display: flex;
  flex-direction: column;
}

.shell{
	flex: 1 0 auto;
  background-color: #121212;
  color: antiquewhite;
}
button, .btn{
  background-color: #F80 !important;
}

a{
  color: #F80 !important;
}
.footer-1{
  flex-shrink: 0;
}

.hr-or {
    background-color: darkgoldenrod;
    height: 4px;
    margin: 0px !important;
  }
