

<div class="container mt-5">
  <h2 class="">Welcome To Africa's No.1 Ebook Library</h2>
  <div class="col-4 offset-lg-8">
    <input type="text" #newquery (keydown.enter)="submit(newquery.value)" class="form-control border rounded-pill placeholder-green-300" placeholder="Search by title or author">
    <button (click)="submit(newquery.value)" class="btn-dark"><span class="">Search</span></button>
  </div>
  <app-book-list [books]="books" [caption]="caption" *ngIf="books.length"></app-book-list>
</div>




